dist/
!www/favicon.ico
www/
certs/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.firebase/
.idea/
.vscode/
.sass-cache/
.versions/
releases/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
serviceAccountKey.json
serviceAccountKey.*.json
src/global/environment.ts
src/components.d.ts
stencil-*.*.*/**
platforms/
plugins/
resources/*.md5
google-services.json
GoogleService-Info.plist
src/index.html
ul_web_hooks/android/android_web_hook.html